<nav class="SiteHeader-nav">
    {# <a href="#" class="SiteHeader-nav-link burger"><i class="fas fa-bars"></i></a>
    <a href="#" class="SiteHeader-nav-link noBurger"><i class="fas fa-times"></i></a> #}
    <a class="SiteHeader-nav-link" href="{{ path('home_index') }}">Accueil</a>
    <a class="SiteHeader-nav-link" href="#">Bons plans</a>
    <a class="SiteHeader-nav-link" href="#">Contact</a>
    <a class="SiteHeader-nav-link" href="#">Selection</a>
</nav>

<section class="baneer">
    <h1 class="baneer-title">La cave de John : bières, vins, spiritueux</h1>
</section>