$font : 'Josefin Sans', sans-serif;

$white: white;
$black: black;

$mainColor: goldenrod;
$mainLightColor: rgb(206, 178, 108);

$darkGrey: rgb(58, 53, 53);
$lightGrey: rgb(202, 200, 200);
$opakGrey: rgba(206, 178, 108, 0.404);

$success: greenyellow;
$failure: rgb(241, 50, 50);