$font : 'Josefin Sans', sans-serif;

$white: white;
$black: black;

$mainLightColor:#B0C472;
$mainColor:#cdda42;

$darkGrey:#6b625d;
$lightGrey: #CFB9B0;
$opakGrey:#8c7e7791;

$success: greenyellow;
$failure: rgb(241, 50, 50);