html, body {
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #6b625d;
  color: #CFB9B0;
}

.flash {
  text-align: center;
  margin: .7em;
  font-weight: bolder;
  font-size: 2.5em;
}

.flash-success {
  color: greenyellow;
}

.flash-failure {
  color: #f13232;
}

h2 {
  font-size: 2em;
}

h3 {
  color: #cdda42;
}

.appears {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.errorPicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorPic {
  width: 1000px;
}

.SiteHeader-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  padding: 1.2em;
}

.SiteHeader-nav-link:link, .SiteHeader-nav-link:visited {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5em;
  color: #cdda42;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.SiteHeader-nav-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #B0C472;
}

.baneer {
  background: url(../img/darkhead.jpg);
  width: 100%;
  height: 600px;
  background-size: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.baneer-title {
  color: #cdda42;
  font-size: 5em;
  text-shadow: 1px 1px 2px white;
  z-index: 5;
}

.baneer-fullname {
  font-size: 1em;
  padding-right: .3em;
}

.Selection {
  display: none;
  background-color: #B0C472;
  padding: .7em;
  position: absolute;
  width: 150px;
  top: 65px;
  z-index: 5;
}

.Selection::before {
  content: "";
  background-color: #B0C472;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -9px;
  right: 132px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Selection-link {
  color: #6b625d !important;
  padding: .7em;
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.Selection-link:nth-child(1) {
  -webkit-animation: apparition 0.2s 0.2s ease-out forwards;
          animation: apparition 0.2s 0.2s ease-out forwards;
}

.Selection-link:nth-child(2) {
  -webkit-animation: apparition 0.2s 0.4s ease-out forwards;
          animation: apparition 0.2s 0.4s ease-out forwards;
}

.Selection-link:nth-child(3) {
  -webkit-animation: apparition 0.2s 0.6s ease-out forwards;
          animation: apparition 0.2s 0.6s ease-out forwards;
}

.Selection-link:nth-child(4) {
  -webkit-animation: apparition 0.2s 0.8s ease-out forwards;
          animation: apparition 0.2s 0.8s ease-out forwards;
}

.Selection-link:nth-child(5) {
  -webkit-animation: apparition 0.2s 1s ease-out forwards;
          animation: apparition 0.2s 1s ease-out forwards;
}

.Selection-link:nth-child(6) {
  -webkit-animation: apparition 0.2s 1.2s ease-out forwards;
          animation: apparition 0.2s 1.2s ease-out forwards;
}

.Selection-link:nth-child(7) {
  -webkit-animation: apparition 0.2s 1.4s ease-out forwards;
          animation: apparition 0.2s 1.4s ease-out forwards;
}

.Selection-link:nth-child(8) {
  -webkit-animation: apparition 0.2s 1.6s ease-out forwards;
          animation: apparition 0.2s 1.6s ease-out forwards;
}

.Selection-link:nth-child(9) {
  -webkit-animation: apparition 0.2s 1.8s ease-out forwards;
          animation: apparition 0.2s 1.8s ease-out forwards;
}

.baneerAvatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.UserContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8c7e7791;
  padding: .5em;
}

.Layout {
  width: 80%;
  margin: 0 auto;
}

.LayoutProduct {
  width: 60%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.Homecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productSticker {
  width: 400px;
  background-color: #6b625d;
  border-radius: 10px;
  border: thick double #cdda42;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productSticker-title {
  color: #cdda42;
}

.productSticker-pic {
  background-size: contain;
  width: auto;
  height: 200px;
}

.productSticker-desc {
  padding: .5em;
  color: #B0C472;
}

.productSticker-price {
  display: block;
  text-align: center;
  padding: .3em;
  color: white;
}

.productSticker-date {
  color: white;
  font-style: italic;
  text-align: right;
  padding-right: .7em;
}

.productSticker-cat {
  color: #cdda42;
}

.productSticker-button:link, .productSticker-button:visited {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  background-color: #cdda42;
  color: white;
  width: 30%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.productSticker-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #B0C472;
}

.detailProduct {
  margin-top: 1em;
  margin-bottom: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailProduct-pic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: 0.7rem solid #cdda42;
  width: auto;
  height: 300px;
}

.detailProduct-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.detailProduct-fav {
  color: #cdda42;
  padding-bottom: 1em;
}

.detailProduct-desc {
  font-size: 1.3em;
  text-align: justify;
}

.detailProduct-date {
  font-size: .9em;
}

.detailProduct-cat {
  font-size: .9em;
}

.detailProduct-price {
  font-size: .9em;
}

a {
  text-decoration: none;
}

.Cents {
  font-size: .8em;
}

.signal {
  color: #f13232;
  font-weight: bolder;
  padding-top: .3em;
}

.unsignal {
  color: greenyellow;
  font-weight: bolder;
  padding-top: .3em;
}

.SameCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.SameCat-sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  padding: .7em;
}

.SameCat-sticker-title {
  color: #cdda42;
  font-size: 1.5em;
}

.SameCat-sticker-pic {
  width: auto;
  height: 150px;
  margin-bottom: .5em;
  border-radius: 10px;
  border: 2px solid #B0C472;
}

.SameCat-sticker-link:link, .SameCat-sticker-link:visited {
  color: white;
  background-color: #cdda42;
  padding: .5em;
  border-radius: 10px;
}

.SameCat-sticker-link:hover {
  background-color: #B0C472;
}

input {
  margin: 2em;
}

.submit {
  background-color: #6b625d;
  color: #B0C472;
  padding: .7em;
  margin-left: 0;
  margin-bottom: 2.5em;
}

textarea, select {
  margin-left: .7em;
}

textarea {
  width: 40%;
  height: 80px;
}

ul {
  padding: 0;
}

li {
  color: #f13232;
  list-style-type: none;
  font-size: 1.5em;
}

.signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.Review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6b625d;
}

.Comment {
  background-color: #B0C472;
  width: 60%;
  padding: .7em;
  border-radius: 10px;
  margin: 1em;
  margin-left: 0;
}

.Comment:nth-child(odd) {
  background-color: #CFB9B0;
}

.grade {
  font-weight: bolder;
  font-size: 1.2em;
}

#svgAvatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

svg {
  border-radius: 100%;
}

.dashboardPic {
  height: 60px;
  width: 80px;
}

.catTable {
  width: 60%;
}

table {
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 70%;
}

td {
  padding: 1em;
}

.TabEntete {
  background-color: #cdda42;
  color: #6b625d;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.TabContent:nth-child(even) {
  background-color: #B0C472;
  color: #6b625d;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
}

.TabContent:nth-child(odd) {
  background-color: #CFB9B0;
  color: #6b625d;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
}

.buttonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.button:link, .button:visited {
  background-color: #cdda42;
  color: #6b625d;
  padding: 1em;
  display: inline-block;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 10px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #B0C472;
}

.fa-trash-alt {
  color: #f13232;
}

.fa-edit {
  color: #6b625d;
}

.formContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-title {
  color: #B0C472;
  padding-bottom: .5em;
}

.preview-pic {
  width: 200px;
  height: auto;
  padding-bottom: 2em;
}

@-webkit-keyframes apparition {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes apparition {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=style.css.map */