{% extends 'base.admin.html.twig' %}

{% block title %} {{ parent() }} - Ajouter un produit {% endblock %}

{% block body %}

    <h2>Formulaire d'ajout de produit</h2>

    <div class="formContainer LayoutProduct">
    
        {{form_start(productForm, {'attr':{'class':'form', 'novalidate':'novalidate'}})}}
            {{ form_widget(productForm, {'attr':{'class':'formChamp'}})}}
            <input class="submit" type="submit" value="Ajouter !">          
        {{form_end(productForm)}} 

        <div class="preview">
            <small class="preview-title">Prévisaluation de votre image</small>
            <img class="preview-pic" id="file-ip-1-preview">
        </div>
    </div>
    

{% endblock %}