{% extends 'base.admin.html.twig' %}

{% block title %} {{ parent() }} - Editer un produit {% endblock %}

{% block body %}

    <h2>Formulaire de modification d'un produit</h2>

    {{form_start(productForm, {'attr':{'class':'form LayoutProduct', 'novalidate':'novalidate'}})}}
        {{ form_widget(productForm, {'attr':{'class':'formChamp'}})}}
        <input class="submit" type="submit" value="Editer !">          
    {{form_end(productForm)}} 

{% endblock %}