{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Page introuvable{% endblock %}

{% block body %}

<div class="errorPicContainer">
    <img class="errorPic" src="{{ asset('img/404.jpg') }}" alt="">
</div>

{% endblock %}